@import "../../styles.scss";

.navbar{
    background-color: $navColor;
    .nav-link{
        color:$fontColor;
    }
    i{
        margin: 0 10px;
    }
    .logout{
        cursor: pointer;
    }
    .navbar-brand{
        font-weight: 800;
        font-size: 30px;
    }
}


